.Gral{
    background-color: #23232E !important;
    height: 100vh;
}
.GraficoLineas{



    width: 450px;
    height: 270px;
    position: relative;
    top: -500px;
    left: 20%;
    border:none !important;





}
.GraficoBarras{

    width: 450px;
    height: 270px;
    position: relative;
    top: -770px;
    left: 60%;
    right: 1%;

    border:none !important;

}