.div{
    position: relative;

    /*top: 73px;
    left: 54px;
    bottom: 18px;
    width: 450px;
    height: auto;*/

    width: 450px;
    height: 270px;
    background: #282c34;



}
.h3x{
    padding-left: 10px;
    color: #ffffff;
    font-size: 20px;
}