.div{
    background-color: #23232E !important;
    height: 100vh;
}
.CardS{
    position: relative;
    left: 50%;
    top:-500px;
    height:30px;
    width: 210px;


}
.CardTV{
    position: relative;
    left: 40%;
    top:-500px;
    height:30px !important;
    width: 210px !important;
    text-decoration: none;
}
.Botona{
    padding: 10px;
    color:red;
    background-color:#2E2E47 !important;
    color: white;
    border:1px solid black !important;
    border-radius: 10px;
    text-decoration: none;

    position:relative;
    text-align: center;
    top:-250px;
    left: 40%;
    font-size: 20px;
    width: 124px ;
    font-family: Arial !important;
}
.Botonc {

    padding: 2px;
    color:red;
    background-color:#2E2E47 !important;
    color: white;
    border:1px solid black !important;
    border-radius: 5px;
    text-decoration: none;

    position:relative;
    text-align: center;
    top:-3px;
    left: 180%;
    font-size: 20px;
    width: 124px ;
    height: 38px;
    font-family: Arial;


}

/*----------SearchCard----------*/
.Form{
    height: 30px !important;
    width: 210px !important;
    position: relative;
    top:-50px !important;
    left: 1px;

}
.SearchBarCard{
    background-color: #282c34;
    display: grid;
    grid-template-columns: auto auto;
    height:auto;
    width: auto;
}
input{
    height: 30px;
    width: 180px;

}
.SearchIcon{


}
.FormControl{/* BARCODE BAR*/




}
.SearchButton{

    padding: 0 !important;
    background-color: snow !important;
    width: 30px;
    height:30px;
    position: relative;

}
/*------------------endSearchCard---------------------*/