.div{
    background-color: #23232E !important;
    height: 100vh;
}
.CardS{
    position: relative;
    left: 50%;
    top:-500px;
    height:30px;
    width: 210px;


}
.CardTV{
    position: relative;
    left: 40%;
    top:-500px;
    height:30px;
    width: 210px;
}
.Botona{
    font-size: 10px;
    position:relative;
    text-align: center;
    top:20vh;
    font-size: 20px;
    width: 124px ;
}
.Botonc {

    position:relative;
    text-align: center;
    top:15vh;
    left: 180%;
    font-size: 20px;
    width: 124px ;

}

/*----------SearchCard----------*/
.Form{
    height: 30px !important;
    width: 210px !important;
    position: relative;
    top:-50px !important;
    left: 1px;

}
.SearchBarCard{
    height:30px;
    width: 230px;
}
input{
    height: auto;
}
.SearchIcon{


}
.FormControl{/* BARCODE BAR*/




}
.SearchButton{

    height:30px;
}
/*------------------endSearchCard---------------------*/